@using System.Linq
@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<GamesViewModel>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
}

<div class="container center-container">
    <ul class="breadcrumb">
        <li class="with-arrow"><a href="/">Home</a></li>
        <li class="with-arrow"><a href="/@Model.HaxballLeagueId/">@Model.LeagueTitle</a></li>
        <li><span class="active">@Model.Name</span></li>
    </ul>

    @*Searched games for player '@Model.Name'<br />*@

    <a href="http://www.haxball.gr/league/view/@Model.HaxballLeagueId" target="_blank">Original Haxball league</a><br />

    @{
        var games = @Model.Games.ToArray();
    }

    @if (games.Any())
    {
        <a href="#league">Jump down to table</a>
        <table class="scores">
            <thead>
                <tr>
                    <th>Home</th>
                    <th>Result</th>
                    <th>Away</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in games)
                {
                    <tr>
                        <td>@game.HomePlayer</td>
                        <td>@game.Result</td>
                        <td>@game.AwayPlayer</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>There are no games for player '@Model.Name'. Probably it's misspelling.</div>
    }
</div>


<iframe id="league" style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/@Model.HaxballLeagueId' width='965' height='650'></iframe>