@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<GamesViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Show your Fifa 2013 games</title>

    <style type="text/css">
        body {
            text-align: center;
        }

        table {
            width: 700px;
            margin: 0 auto;
            border-width: 1px;
            border-style: dotted;
            background-color: #3C312b;
            color: #fff;
        }

        td {
            height: 24px;
            padding-top: 10px;
            border-top-width: 1px;
            border-top-style: dotted;
            border-color: #fff;
        }
    </style>

</head>
<body>
    Searched games for player '@Model.Name'<br/>
    
    <a href="http://www.haxball.gr/league/view/121729" target="_blank">Original Haxball ligue</a>

    <table>
        <thead>
            <tr>
                <th>Home</th>
                <th>Result</th>
                <th>Away</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in @Model.Games)
            {
                <tr>
                    <td>@game.HomePlayer</td>
                    <td>@game.Result</td>
                    <td>@game.AwayPlayer</td>
                </tr>
            }
        </tbody>
    </table>
    <iframe style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/121729' width='965' height='650'></iframe>
    
    <div>Code on <a href="https://github.com/kmorcinek/ShowMyHaxballGames">Github</a></div>
</body>
</html>