@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<LeagueViewModel>>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
}

<div class="container center-container">
    <h1>EA SPORTS FIFA @@ Making Waves</h1>

    <table class="main">
        <thead>
            <tr>
                <th>Season</th>
                <th>Status</th>
                <th>My haxball</th>
                <th>Direct</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var league in @Model)
            {
                @if (league.IsFromHaxball)
                {
                    <tr>
                        <td>@league.SeasonNumber</td>
                        <td>@league.WrittenProgress</td>
                        <td><a href='/@league.HaxballLeagueId'>@league.Title</a></td>
                        <td><a href="http://www.haxball.gr/league/view/@league.HaxballLeagueId" target="_blank">Original league</a></td>
                        <td>@league.Winner</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@league.SeasonNumber</td>
                        <td>@league.Status</td>
                        <td></td>
                        <td><a href="@league.Url">@league.Title</a></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>