@using System.Linq
@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LeagueViewModel>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
}

<div class="container">
    <ul class="breadcrumb">
        <li class="with-arrow"><a href="/">Home</a></li>
        <li><span class="active">@Model.Title</span></li>
    </ul>

    <br />
    <h2>Search by player:</h2>
    <ul>
        @foreach (var playerName in @Model.Players)
        {
            <li><a href='/@Model.HaxballLeagueId/@playerName'>@playerName</a></li>
        }
    </ul>

    @{
        var games = @Model.NewestGames.ToArray();
    }

    @if (games.Any())
    {
        <h2>Last played games</h2>
        <table class="scores">
            <thead>
                <tr>
                    <th>Home</th>
                    <th>Result</th>
                    <th>Away</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in games)
                {
                    <tr>
                        <td>@game.HomePlayer</td>
                        <td>@game.Result</td>
                        <td>@game.AwayPlayer</td>
                        <td>@(game.PlayedDate.Value.ToShortDateString())</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
 
@if (string.IsNullOrEmpty(Model.HolidayImageUrl) == false)
{
    <img class="holiday-image" src="@Model.HolidayImageUrl" />
}

<iframe id="league" style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/@Model.HaxballLeagueId' width='965' height='530'></iframe>