@using System.Linq
@using KMorcinek.ShowMyHaxballGames.ViewModels;

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<LeagueViewModel>

@{
    Layout = "layout.cshtml";
}

@section ScriptRegionTop{
    <title>Fifa 13 at Making Waves - @Model.Title</title>

    <style>
        body {
            width: 965px;
            margin: 20px auto;
        }
    </style>
}

Find the people you haven't played so far (or check all results for a player).
<br />
<h2>Search by player:</h2>
<ul>
    @foreach (var playerName in @Model.Players)
    {
        <li><a href='/@Model.LeagueId/@playerName'>@playerName</a></li>
    }
</ul>

@{
    var games = @Model.NewestGames.ToArray();
}

@if (games.Any())
{
    <h2>Last played games</h2>
    <table class="scores">
        <thead>
            <tr>
                <th>Home</th>
                <th>Result</th>
                <th>Away</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.HomePlayer</td>
                    <td>@game.Result</td>
                    <td>@game.AwayPlayer</td>
                    <td>@(game.PlayedDate.Value.ToShortDateString())</td>
                </tr>
            }
        </tbody>
    </table>
}

<iframe id="league" style="margin-top:20px" src='http://www.haxball.gr/league/view_embedded/@Model.LeagueId' width='965' height='650'></iframe>